# Capstone project for Luisa Fernanda Meza

![Course Hero](images/hero.png)

## Introduction

Describe what is your capstone project about.

## Data Set Selection

Mention the data set you selected for your capstone project, where did you find it, and why it was interesting to you

## Data Examination

Let's start with the imports for the notebook.

Note: Remember to add in the `requirements.txt` file all the modules you use.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Get the selected data set into a pandas Dataframe.

Note: You need to add the right method to load the data.

In [2]:
movies = pd.read_csv("Top 200 Movies.csv")

Find relevant information about the selected dataset.

- How many rows and columns does it has?
- Which characteristics does each column has?
    - Data type
    - Minimum and maximum values
    - Values distribution
    - Missing data
- Which columns are related or are dependent on each other? 
    - Which ones can be derived?
    - Which are good candidates for an hypothesis?

Note: Use pandas methods as shape, head, sample, groupby, describe and any other you can think of!

In [4]:
print("Shape: ", movies.shape)

Shape:  (207, 8)

In [6]:
movies.head()

,Title,Year of Release,Rating,Number of Reviews,Popularity Index,Movie Cast,Director,Description
0,The Shawshank Redemption,1994,9.3,2.6M,66,"['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'...",Frank Darabont,Two imprisoned men bond over a number of years...
1,The Godfather,1972,9.2,1.8M,17,"['Marlon Brando', 'Al Pacino', 'James Caan', '...",Francis Ford Coppola,The aging patriarch of an organized crime dyna...
2,The Dark Knight,2008,9.0,2.6M,91,"['Christian Bale', 'Heath Ledger', 'Aaron Eckh...",Christopher Nolan,When the menace known as the Joker wreaks havo...
3,The Godfather: Part II,1974,9.0,1.2M,102,"['Al Pacino', 'Robert De Niro', 'Robert Duvall...",Francis Ford Coppola,The early life and career of Vito Corleone in ...
4,12 Angry Men,1957,9.0,771K,446,"['Henry Fonda', 'Lee J. Cobb', 'Martin Balsam'...",Sidney Lumet,The jury in a New York City murder trial is fr...

In [7]:
movies.describe()

       Year of Release      Rating
count       207.000000  207.000000
mean       1990.652174    8.339130
std          22.132978    0.232473
min        1927.000000    8.100000
25%        1976.500000    8.200000
50%        1996.000000    8.300000
75%        2008.000000    8.500000
max        2022.000000    9.300000

In [8]:
movies.describe(include="object")

,Title,Number of Reviews,Popularity Index,Movie Cast,Director,Description
count,207,207,207,207,207,207
unique,207,162,207,207,128,207
top,The Shawshank Redemption,1.1M,66,"['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'...",Stanley Kubrick,Two imprisoned men bond over a number of years...
freq,1,10,1,1,7,1

In [39]:
movies.groupby(["Year of Release"])["Title"].count().sort_values(ascending=False)

Year of Release
1995    7
2019    6
2004    6
2006    5
1957    5
       ..
1973    1
1977    1
1978    1
1931    1
1927    1
Name: Title, Length: 76, dtype: int64

In [42]:
movies.groupby(["Year of Release"])["Title"].count().sort_values(ascending=False)

Year of Release
1995    7
2019    6
2004    6
2006    5
1957    5
       ..
1973    1
1977    1
1978    1
1931    1
1927    1
Name: Popularity Index, Length: 76, dtype: int64

## Define the Hypothesis to test

Decide what is your project about.

What do you want to predict?

`Elaborate here`

## Clean the data

Create a new Data Frame just with the data you are going to use

## Run your experiment(s)

Describe what your experiment is done, and execute it.

Note: Be generous with your plots!

## Reach a conclusion

What was the result of your experiment?

How can it be improved?

Elaborate in one thing you learn during the capstone project.

## Congratulations

You have finished the bootcamp!

![Congratulations](images/congratulations.jpg)